:root {
  --color-1: rgb(0,41,40);
  --color-2: rgb(0,124,96);
  --color-3: rgb(0,206,146);
}

@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@100&display=swap');

body {
  background-color: var(--color-1);
  color: var(--font-color);
  font-family: 'Alkatra', cursive;
  text-align: center;
}

h2 {
  color: var(--color-3);
}

.sectionMain {
  background-color: white;
  border-radius: 10px;
  display: flex;
  width: 100%;
}

div {
  flex-grow: 1;
  margin: 10px;
  width: 100%;
}

/* Form Styles */
.sectionForm{
  display: flex;
  flex-direction: column;
}

/* Card Styles */
.mainCard {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.sectionCard {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
  height: 380px;
  margin: 10px;
  width: 250px;
}

.divCard {
  align-items: center;
  background-color: var(--color-2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 370px;
  margin: 5px;
  width: 240px;
}

#h3Card {
  background-color: var(--color-1);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: white;
  font-family: 'Sofia Sans Condensed', sans-serif;
  margin: 6px;
  margin-bottom: 0;
  padding-left: 8px;
  text-align: left;
  width: 220px;
}


#imgCard{
  min-height: 168px;
  max-height: 168px;
  margin: 10px;
  margin-bottom: 0;
  margin-top: 0;
  min-width: 180px;
  max-width: 180px;
}

#pCard {
  color: white;
  font-family: 'Sofia Sans Condensed', sans-serif;
  font-size: 10pt;
  min-height: 95px;
  max-height: 95px;
  margin: 10px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: justify;
}


#spanCard {
  color: white;
  font-family: 'Sofia Sans Condensed', sans-serif;
  font-size: 12pt;
  font-weight: bold;
  margin-left: 10px;
  text-decoration: underline;
}

#spanDeAtkEDef {
  background-color: var(--color-2);
  margin: 0;
  padding-right: 10px;
  text-align: right;
  width: 220px;
}

#nivelCard{
  display: flex;
  height: 20px;
  margin: 0;
  padding-right: 10px;
  justify-content: right;
  width: 220px;
}

#spanCardRare {
  background-color: var(--color-1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  margin-bottom: 5px;
  margin-top: 0;
  text-transform: uppercase;
  width: 230px;
}

#trunfo {
  background-color: var(--color-3);
  border: 3px outset white;
  border-radius: 100px;
  color: white;
  display: flex;
  height: 60px;
  justify-content: center;
  margin-right: 160px;
  margin-top: 30px;
  position: absolute;
  width: 60px;
}
/* All Cards */
.allCards {
  display: flex;
  flex-wrap: wrap;
}

#cardName {
}

#cardName:focus {
}

#cardDescription {
}

#cardDescription:focus {
}

#cardAttr1,#cardAttr2,#cardAttr3 {
}

#cardImage{
}

#cardImage:focus {
}

#cardRare {
}

#cardRare:focus {
}

